/* FONT */

@font-face {
  font-family: 'NoirPro';
  src: local('Noir Pro Regular'), local('NoirPro-Regular'),
    url('../font/NoirPro-Regular.woff2') format('woff2'),
    url('../font/NoirPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: local('Noir Pro Light'), local('NoirPro-Light'),
    url('../font/NoirPro-Light.woff2') format('woff2'),
    url('../font/NoirPro-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: local('Noir Pro Medium'), local('/NoirPro-Medium'),
    url('../font/NoirPro-Medium.woff2') format('woff2'),
    url('../font/NoirPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: local('Noir Pro Bold'), local('NoirPro-Bold'),
    url('../font/NoirPro-Bold.woff2') format('woff2'),
    url('../font/NoirPro-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}


body {
  font-family: 'NoirPro', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* GLOBAL */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


:root {
  --white-color: #fff;
  --white-black: black;
  --color-blue: rgb(66, 84, 117);
  --green-color: rgb(109, 219, 154);
  --green-active: rgb(73, 175, 115);
  --green-hover: rgb(255, 255, 255);
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 25px;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 5;
}

.black {
  background-color: var(--white-black);
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* burger */
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn:hover span {
  background-color: var(--green-color);
}

.header__burger-btn:active span {
  background-color: var(--green-active);
}


.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

/* ////// */
.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  color: var(--white-color);
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: var(--green-color);
}

.nav__link:active {
  color: var(--green-active);
}

/* HERO */

.hero {
  position: relative;
  padding: 120px 0 80px;
  background-image: url('../img/4010012_l-Printed-HTML-Code---onpage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero__contact {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.hero__item {
  width: 36px;
  height: 36px;
  fill: var(--white-color);
  border-radius: 50%;
  border: 1px solid var(--white-color);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero__link svg path {
  transition: fill .2s linear;
}

.hero__link:hover svg path {
  fill: var(--green-color);
}

.hero__item:not(:last-child) {
  margin-bottom: 10px;
}

.hero__block {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__name {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 85px;
  color: var(--white-color);
  text-shadow: var(--white-black) 1px 0 50px;
}

.hero__title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  color: var(--green-color);
}

/* ABOUT */
.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 150px;
}

.about__text {
  max-width: 600px;
  font-weight: 400;
  line-height: 33px;
  margin-right: 20px;
}

.about__text-about {
  margin: 0;
}

.about__photo {
  display: flex;
  max-width: 600px;
  height: 100%;
  overflow: hidden;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__location {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}

.about__info {
  margin-bottom: 10px;
}

.about__age {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}




/* NAVIGATION */

.navigation {
  width: 100%;
  padding: 80px 0;
  background-color: var(--white-black);
}

.navigation__list {
  display: flex;
  justify-content: space-around;
}

.navigation__item {
  position: relative;
  width: 30%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.itemNavigation__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(-180deg, rgb(109, 219, 154) 0%, rgb(73, 175, 115) 96%);
  border-radius: 50%;
}

.itemNavigation__title {
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.itemNavigation__text {
  text-align: center;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.itemNavigation__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  color: var(--green-color);
  transition: color 0.2s linear;
}

.itemNavigation__link::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.itemNavigation__link:hover {
  color: var(--green-hover);
}

.itemNavigation__link:active {
  color: var(--green-active);
}


.itemNavigation__link svg {
  transition: fill 0.2s linear, transform 0.2s linear;
}

.itemNavigation__link:hover svg {
  fill: var(--green-hover);
  transform: translateX(5px);
}

.itemNavigation__link:active svg {
  fill: var(--green-active);
  transform: translateX(5px);
}

/* SKILL */

.skills {
  padding: 80px 0;
}

.skills__section {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.skills__info {
  width: 60%;
  margin-right: 20px;
}

.skills__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.skills__text {
  margin: 0;
  line-height: 33px;
}

b {
  font-weight: 500;
}

.skills__type {
  width: 30%;
}

.type__list {
  display: grid;
  column-gap: 20px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.type__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 65px;
  font-weight: 500;
  color: var(--green-active);
}

.type__info {
  font-size: 20px;
  color: var(--white-black);
}

/* experience*/

.experience {
  padding-bottom: 80px;
}

.experience__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.experience__descr {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-blue);
}

/* education */

.education {
  position: relative;
  display: flex;
}

.education__number {
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -1px;
  font-size: 20px;
  color: var(--green-color);
  text-align: center;
  background-color: var(--white-color);
}

.education__img {
  width: 50%;
  padding: 0 45px;
  border-right: 2px solid rgba(66, 84, 117, .2);

}

.education__descr {
  width: 50%;
  padding: 0 45px;
}

.education__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

.education__text {
  color: var(--color-blue);
  margin: 0;
  margin-bottom: 25px;
}

/* work */

.work {
  position: relative;
  display: flex;
}

.work__number {
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -4px;
  font-size: 20px;
  color: var(--green-color);
  text-align: center;
  background-color: var(--white-color);
}

.work__img {
  width: 50%;
  padding: 0 45px;
}

.work__descr {
  width: 50%;
  padding: 0 45px;
  border-right: 2px solid rgba(66, 84, 117, .2);
}

.work__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}

.work__text {
  color: var(--color-blue);
  margin: 0;
  margin-bottom: 25px;
  text-align: right;
}

.work__text p {
  margin: 0;
}


.work__item {
  text-align: right;
  opacity: 0.5;
}


/* PORTFOLIO */

.portfolio {
  padding-bottom: 80px;
}

.portfolio__title {
  font-size: 30px;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.portfolio__slide {}

/* CONTACT */

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.contact__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
}

.contact__text {
  margin: 0;
  margin-bottom: 40px;
}

.contact__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}


.networks {
  display: flex;
}

.networks__item {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid var(--white-black);
  border-radius: 50%;
  transition: border .2s linear;
}

.networks__item:hover {
  border: 1px solid var(--green-color);
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.networks__link svg path {
  transition: fill .2s linear;
}

.networks__link:hover svg path {
  fill: var(--green-color);
}

.item__link {
  transition: color .2s linear;
}

.item__link:hover {
  color: var(--green-color);
}

/* FOOTER */

.footer {
  width: 100%;
  padding: 50px 0;
  background-color: var(--white-black);
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav__list {
  display: flex;
  align-items: center;
}

.footer-nav__item:not(:last-child) {
  margin-right: 20px;
}

.footer-nav__link {
  color: var(--white-color);
}


/*SCROLL-UP */
.btn-up {
  position: fixed;
  background-color: var(--green-color);
  right: 20px;
  bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}